aside.right-sidebar
  .slimscrollright
    .rpanel-title
      | 题目编辑修改
      span
        span.icon-round
          img(src="/images/icon-img.svg", alt="")
        | 插入图片
    .r-panel-body
      input.form-control(type='type' placeholder='请输入问题')
      .count 5 / 150 字
      .dd.checkboxlist
        ol.dd-list
          li.dd-item.dd3-item(data-id='1')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content 
              input#side_checkbox_1(type='checkbox')
              label(for='side_checkbox_1' )
              .text(contenteditable="true") 还不错还不错还不错还不错还不错还不错还不错还不错还不错还不错
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
          li.dd-item.dd3-item(data-id='1')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content 
              input#side_checkbox_2(type='checkbox')
              label(for='side_checkbox_2') 
              .text(contenteditable="true") 感觉一般
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
          li.dd-item.dd3-item(data-id='2')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content
              input#side_checkbox_3(type='checkbox')
              label(for='side_checkbox_3') 
              .text(contenteditable="true") 还能更好
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
          li.dd-item.dd3-item(data-id='3')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content
              input#side_checkbox_3(type='checkbox')
              label(for='side_checkbox_3') 
              .text(contenteditable="true") 不是特别满意
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
          li.dd-item.dd3-item(data-id='4')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content
              input#side_checkbox_4(type='checkbox')
              label(for='side_checkbox_4')
              .text(contenteditable="true") 不适用
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
    .rpanel-action
      button.btn.btn-circle.btn-small
        span.icon-round
          img(src="./images/icon-plus.svg", alt="")
        | 添加选项
      button.btn.btn-circle.btn-small
        span.icon-round
          img(src="./images/icon-plus.svg", alt="")
        | 批量添加
      button.btn.btn-circle.btn-small
        span.icon-round
          img(src="./images/icon-plus.svg", alt="")
        | 添加其他
    .r-panel-tip
      span 说明：在数据报告内为简化阅读，当前题目会使用简称
      span 沟通能力
    .rpanel-title
      | 题目设置
    .r-panel-body