aside.left-sidebar
  ul.sidebar-icon
    li.active
      a
        span
          img.black(src="./images/icon-edit-b.svg")
          img.green(src="./images/icon-edit-g.svg")
          img.white(src="./images/icon-edit-w.svg")
        | 编 辑
      li
        a
          span
            img.black(src="./images/icon-style-b.svg")
            img.green(src="./images/icon-style-g.svg")
            img.white(src="./images/icon-style-w.svg")
          | 样 式
      li
        a
          span
            img.black(src="./images/icon-other-b.svg")
            img.green(src="./images/icon-other-g.svg")
            img.white(src="./images/icon-other-w.svg")
          | 其 他
  .scroll-sidebar
    .go-back
      img(src="./images/icon-arrow.svg", alt="")
      | 返回全部商业目的
    ul.sidebar-nav
      li.nav-small-cap
        img(src="./images/icon-selected.svg", alt="")
        | 已选商业目的
      li
        span(data-toggle="modal" data-target="#quetsionSet") 顾客满意度
        img(src="./images/icon-del-b.svg", alt="")
      li
        span(data-toggle="modal" data-target="#quetsionSet") NPS推荐意思
        img(src="./images/icon-del-b.svg", alt="")

      li
        span(data-toggle="modal" data-target="#quetsionSet") 服务细项长板/短板
        img(src="./images/icon-del-b.svg", alt="")

      li
        span(data-toggle="modal" data-target="#quetsionSet") 不良服务监测
        img(src="./images/icon-del-b.svg", alt="")
      li.nav-small-cap
        img(src="./images/icon-select.svg", alt="")
        | 备选商业目的
      li
        span 顾客画像
        img(src="./images/icon-del-b.svg", alt="")

      li
        span 企业舆情与行业动态
        img(src="./images/icon-del-b.svg", alt="")
