aside.right-sidebar
  .slimscrollright
    .rpanel-title
      | 题目编辑修改
      span
        i.ti-close.right-side-toggle
        | 插入图片
    .r-panel-body
      input.form-control#exampleFormControlInput1(type='email' placeholder='name@example.com')
      .myadmin-dd-empty.dd.checkboxlist
        ol.dd-list
          li.dd-item.dd3-item(data-id='1')
            .dd-handle
              img(src="./images/icon-move.svg", alt="")
            .dd3-content 
              input#side_checkbox_1(type='checkbox')
              label(for='side_checkbox_1') 还不错
          li.dd-item.dd3-item(data-id='2')
            .dd-handle
              img(src="./images/icon-move.svg", alt="")
            .dd3-content
              input#side_checkbox_2(type='checkbox')
              label(for='side_checkbox_2') 还不错
          li.dd-item.dd3-item(data-id='3')
            .dd-handle
              img(src="./images/icon-move.svg", alt="")
            .dd3-content
              input#side_checkbox_3(type='checkbox')
              label(for='side_checkbox_3') 还不错
          li.dd-item.dd3-item(data-id='4')
            .dd-handle
              img(src="./images/icon-move.svg", alt="")
            .dd3-content
              input#side_checkbox_4(type='checkbox')
              label(for='side_checkbox_4') 还不错
          li.dd-item.dd3-item(data-id='5')
            .dd-handle
              img(src="./images/icon-move.svg", alt="")
            .dd3-content
              input#side_checkbox_5(type='checkbox')
              label(for='side_checkbox_5') 还不
    .rpanel-title
      | 题目设置
    .r-panel-body