aside.right-sidebar
  .slimscrollright
    .rpanel-title
      | 题目编辑修改
      span
        span.icon-round
          img(src="/images/icon-img.svg", alt="")
        | 插入图片
    .r-panel-body
      input.form-control(type='type' placeholder='请输入问题')
      .count 5 / 150 字
      .dd.checkboxlist
        ol.dd-list
          li.dd-item.dd3-item(data-id='1')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content 
              input#side_checkbox_1(type='checkbox')
              label(for='side_checkbox_1' )
              .text(contenteditable="true") 还不错还不错还不错还不错还不错还不错还不错还不错还不错还不错
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
          li.dd-item.dd3-item(data-id='1')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content 
              input#side_checkbox_2(type='checkbox')
              label(for='side_checkbox_2') 
              .text(contenteditable="true") 感觉一般
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
          li.dd-item.dd3-item(data-id='2')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content
              input#side_checkbox_3(type='checkbox')
              label(for='side_checkbox_3') 
              .text(contenteditable="true") 还能更好
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
          li.dd-item.dd3-item(data-id='3')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content
              input#side_checkbox_3(type='checkbox')
              label(for='side_checkbox_3') 
              .text(contenteditable="true") 不是特别满意
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
          li.dd-item.dd3-item(data-id='4')
            .dd-handle
              img(src="./images/icon-move-b.svg", alt="")
            .dd3-content
              input#side_checkbox_4(type='checkbox')
              label(for='side_checkbox_4')
              .text(contenteditable="true") 不适用
              .dd-insert-img
                span.icon-round
                  img(src="./images/icon-img.svg", alt="")
                | 插入图片
            .dd-del
              img(src="./images/icon-del-b.svg", alt="")
    .rpanel-action
      button.btn.btn-circle.btn-small
        span.icon-round
          img(src="./images/icon-plus.svg", alt="")
        | 添加选项
      button.btn.btn-circle.btn-small
        span.icon-round
          img(src="./images/icon-plus.svg", alt="")
        | 批量添加
      button.btn.btn-circle.btn-small
        span.icon-round
          img(src="./images/icon-plus.svg", alt="")
        | 添加其他
    .r-panel-tip
      span 说明：在数据报告内为简化阅读，当前题目会使用简称
      span 沟通能力
    .rpanel-title
      | 题目设置
    .r-panel-body
      ul.option
        li
          input#side_checkbox_5(type='checkbox')
          label(for='side_checkbox_5') 在此题后分页
        li
          input#side_checkbox_6(type='checkbox')
          label(for='side_checkbox_6') 将此题设置为必答
        li
          input#side_checkbox_7(type='checkbox')
          label(for='side_checkbox_7') 设置可选项数量
        li
          .form-row
            .form-group.col-md-5
              select.form-control
                option 请选择最少数量
                option 2
                option 3
                option 4
                option 5
            .form-group.col-md-5
              select.form-control
                option 请选择最多数量
                option 2
                option 3
                option 4
                option 5
            .form-group.col-md-2
        li
          input#side_checkbox_8(type='checkbox')
          label(for='side_checkbox_8') 选项随机展示
        li
          input#side_checkbox_9(type='checkbox')
          label(for='side_checkbox_9') 题目跳转
        li
          .form-row
            .form-group.col-md-5
              select.form-control
                option 请选择当前题目
                option 2
                option 3
                option 4
                option 5
            .form-group.col-md-5
              select.form-control
                option 请选择跳转至
                option 2
                option 3
                option 4
                option 5
            .form-group.col-md-2
              button.btn.btn-circle.btn-small
                img(src="./images/icon-plus-b.svg", alt="")
              button.btn.btn-circle.btn-small
                img(src="./images/icon-del-b.svg", alt="")
    .r-panel-footer
      button.btn.btn-success(type='button') 保存修改
      button.btn.btn-outline(type='button') 取消选择

          









