aside.right-sidebar
  .slimscrollright
    .rpanel-title
      | 题目编辑修改
      span
        i.ti-close.right-side-toggle
        | 插入图片
    .r-panel-body
      input.form-control#exampleFormControlInput1(type='email' placeholder='name@example.com')
      ul#themecolors.m-t-20
        li
          b With Light sidebar
        li
          a.default-theme(href='javascript:void(0)' data-theme='default') 1
        li
          a.green-theme(href='javascript:void(0)' data-theme='green') 2
        li
          a.red-theme(href='javascript:void(0)' data-theme='red') 3
        li
          a.blue-theme.working(href='javascript:void(0)' data-theme='blue') 4
        li
          a.purple-theme(href='javascript:void(0)' data-theme='purple') 5
        li
          a.megna-theme(href='javascript:void(0)' data-theme='megna') 6
        li.d-block.m-t-30
          b With Dark sidebar
        li
          a.default-dark-theme(href='javascript:void(0)' data-theme='default-dark') 7
        li
          a.green-dark-theme(href='javascript:void(0)' data-theme='green-dark') 8
        li
          a.red-dark-theme(href='javascript:void(0)' data-theme='red-dark') 9
        li
          a.blue-dark-theme(href='javascript:void(0)' data-theme='blue-dark') 10
        li
          a.purple-dark-theme(href='javascript:void(0)' data-theme='purple-dark') 11
        li
          a.megna-dark-theme(href='javascript:void(0)' data-theme='megna-dark') 12
      ul.m-t-20.chatonline
        li
          b Chat option
        li
          a(href='javascript:void(0)')
            img.img-circle(src='../assets/images/users/1.jpg' alt='user-img')
            |  
            span
              | Varun Dhavan 
              small.text-success online
        li
          a(href='javascript:void(0)')
            img.img-circle(src='../assets/images/users/2.jpg' alt='user-img')
            |  
            span
              | Genelia Deshmukh 
              small.text-warning Away
        li
          a(href='javascript:void(0)')
            img.img-circle(src='../assets/images/users/3.jpg' alt='user-img')
            |  
            span
              | Ritesh Deshmukh 
              small.text-danger Busy
        li
          a(href='javascript:void(0)')
            img.img-circle(src='../assets/images/users/4.jpg' alt='user-img')
            |  
            span
              | Arijit Sinh 
              small.text-muted Offline
        li
          a(href='javascript:void(0)')
            img.img-circle(src='../assets/images/users/5.jpg' alt='user-img')
            |  
            span
              | Govinda Star 
              small.text-success online
        li
          a(href='javascript:void(0)')
            img.img-circle(src='../assets/images/users/6.jpg' alt='user-img')
            |  
            span
              | John Abraham
              small.text-success online
        li
          a(href='javascript:void(0)')
            img.img-circle(src='../assets/images/users/7.jpg' alt='user-img')
            |  
            span
              | Hritik Roshan
              small.text-success online
        li
          a(href='javascript:void(0)')
            img.img-circle(src='../assets/images/users/8.jpg' alt='user-img')
            |  
            span
              | Pwandeep rajan 
              small.text-success online