footer
  .container
    .top-footer.row
      .col-md-12.col-lg-10
        ul
          li 
            img(src="./images/company_introduction.svg", alt="" width="24" height="24")
            | 公司介绍
          li 
            img(src="./images/customer_service.svg", alt="" width="24" height="24")
            | 在线客服
          li 
            img(src="./images/contact_us.svg", alt="" width="24" height="24")
            | 联系我们
      .col-md-12.col-lg-2
        img(src="./images/wechat.jpg", alt="" width="80" height="80")
        | 满意吧官方微信
    .bottom-footer
        .footer-copyright
          p 
            | &copy; 2013-2019 All Right Reserverd 版权所有 满意吧 京ICP 备17057686-1
            span 友情链接 
              a(href="http://www.tenowork.com") www.tenowork.com
