.btn {
  font-size: 14px;
  padding: 7px 8px;
  border-radius: 4px;

  .icon-round {
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -6px;
  }
}
.btn-success {
  background-color: $success;
  border-color: $success;
  &:hover, &.active {
    background-color: darken($success, 10%);
  }
  .icon-round {
    background-color: transparent;
    border: 0 none;
    width: 13px;
  }
}
.btn-small {
  padding: 5px 8px;
}
