extends ../layout/layout.pug

block body-area-container
  main
    h1(contenteditable="true")
      | 1111
    .card_container
      .questions
        ol
          li
            .card
              .box(data-tip="sssss")
                
                | 222222
                
              input(type="checkbox", name="")
          li
            .card
              .box.
                
                222222
                
          li
            .card
              .box.
                
                222222
                
          li
            .card
              .box.
                
                222222
                
              input(type="checkbox", name="")
          li
            .card
              .box.
                
                222222
                
          li
            .card
              .box.
                
                222222
                
          li
            .card
              .box.
                
                222222
              .title
                | wwwww 
              input(type="checkbox", name="")
          li
            .card
              .box.
                
                222222
                
          li
            .card
              .box.
                
                222222
              .title
                | wwwww