extends ../layout/layout.pug

block body-area-container
  .page-wrapper
    .container-fluid
      .page-titles
        .col.justify-content-between
          | 已选5题
        .justify-content-between
              button.btn-success.btn.btn-small
                span.icon-round
                  img(src="./images/icon-send.svg", alt="")
                | 发布并生成问卷
              button.btn.btn-circle.btn-small
                span.icon-round
                  img(src="./images/icon-export.svg", alt="")
                | 导出
              button.btn.btn-circle.btn-small
                span.icon-round
                  img(src="./images/icon-history.svg", alt="")
                | 历史版本
      .page-main
        .main-title
          .card
            .card-body
              .main-title-content
                h3.card-title(contenteditable="true") XXX酒店用户满意度调研
                h6.card-subtitle(contenteditable="true") 您好，为了提高餐厅的服务质量，希望您能用一点时间完成此次调查问卷，我们将会认真总结、分析并加以改进，感谢您的支持
                .count 5 / 150 字
        .questions
          ul
            li
              .card.pagination
                .card-body
                  .card-action
                    span.move(href='#' data-toggle='tooltip' title='移动')
                      | 移动
                    span(href='#' data-toggle='tooltip' title='逻辑')
                      | 逻辑
                    span.del(href='#' data-toggle='tooltip' title='删除')
                      | 删除
                  .title
                    h6 1. 综合考虑您的体验，您对我们酒店的整体评价如何？（打分题）
                  .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
            li
              .card
                .card-body
                  .card-action
                    span.move(href='#' data-toggle='tooltip' title='移动')
                      | 移动
                    span(href='#' data-toggle='tooltip' title='逻辑')
                      | 逻辑
                    span.del(href='#' data-toggle='tooltip' title='删除')
                      | 删除
                  .title
                    h6 1. 综合考虑您的体验，您对我们酒店的整体评价如何？（打分题）
                  .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
            li
              .card
                .card-body
                  .card-action
                    span.move(href='#' data-toggle='tooltip' title='移动')
                      | 移动
                    span(href='#' data-toggle='tooltip' title='逻辑')
                      | 逻辑
                    span.del(href='#' data-toggle='tooltip' title='删除')
                      | 删除
                  .title
                    h6 1. 综合考虑您的体验，您对我们酒店的整体评价如何？（打分题）
                  .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
            li
              .card
                .card-body
                  .card-action
                    span.move(href='#' data-toggle='tooltip' title='移动')
                      | 移动
                    span(href='#' data-toggle='tooltip' title='逻辑')
                      | 逻辑
                    span.del(href='#' data-toggle='tooltip' title='删除')
                      | 删除
                  .title
                    h6 1. 综合考虑您的体验，您对我们酒店的整体评价如何？（打分题）
                  .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
            li
              .card
                .card-body
                  .title
                    h6 1. 综合考虑您的体验，您对我们酒店的整体评价如何？（打分题）
                  .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
  .modal.fade#quetsionSet
    .modal-dialog.modal-dialog-scrollable.modal-xl
      .modal-content
        .modal-header
          h5.modal-title 
            .icon-round(data-dismiss='modal')
              img(src="./images/icon-arrow.svg", alt="") 
            | 服务细项长板 / 短板 全部问题
          .select 已选择 5 题
        .modal-body
          .modal-body-title 
            img(src="./images/icon-question.svg", alt="")
            | 整体环境
          .modal-body-li
            ul
              li
                input.form-check-input#exampleCheck1(type='checkbox')
                label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                li
                  input.form-check-input#exampleCheck1(type='checkbox')
                  label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                  .range
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                li
                  input.form-check-input#exampleCheck1(type='checkbox')
                  label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                  .range
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                li
                  input.form-check-input#exampleCheck1(type='checkbox')
                  label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                  .range
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
                      img(src="./images/icon-star.svg", alt="")
          .modal-body-title 
            img(src="./images/icon-question.svg", alt="")
            | 整体环境
          .modal-body-li
            ul
              li
                input.form-check-input#exampleCheck1(type='checkbox')
                label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
              li
                input.form-check-input#exampleCheck1(type='checkbox')
                label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
              li
                input.form-check-input#exampleCheck1(type='checkbox')
                label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
              li
                input.form-check-input#exampleCheck1(type='checkbox')
                label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
              li
                input.form-check-input#exampleCheck1(type='checkbox')
                label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
              li
                input.form-check-input#exampleCheck1(type='checkbox')
                label.form-check-label(for='exampleCheck1') 请问您对我们整体环境满意度如何？(打分题)
                .range
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
                    img(src="./images/icon-star.svg", alt="")
        .modal-footer
          button.btn.btn-success(type='button') 确认选择
          button.btn.btn-outline(type='button' data-dismiss='modal') 取消选择